html,body{
    background-color: #470e02;
}

.nav-wrapper{
    background-color: #6f4037;
}

.slider .indicators .indicator-item.active{
    background-color: #6f4037;
}

.move{
    margin-top: 60px;
    margin-bottom: 20px;
}

.parallax-container{
    min-height: 380px;
    height: auto;
    background-color: transparent;
    z-index: 100;
}

.icon-coffee{
    color:white; 
}

.footer-one{
    background-color: #6f4037;
}

.footer-two{
    background-color: #44251e;
}

.text-coffee{
    color: #44251e
}